---
// JS Frontmatter
const pageTitle='About Me';
const identity = {
	name: 'Fern',
	country: 'AU',
	occupation: 'Developer',
	hobbies: ['Coding', 'Gaming', 'Art']
}
const skills = ['HTML', 'CSS', 'JS', 'React', 'Node', 'Express', 'Mongo']
const happy = true;
const finished = false;
const goal = 3;

const skillColour = 'green'
const textCase = 'uppercase'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
		<style define:vars={{skillColour, textCase}}>
			h1 {
				color: purple;
				font-size: 4em;
			}
			.skill {
				color: var(--skillColour);
				font-weight: bold;
				text-transform: var(--textCase);
			}
		</style>
	</head>
	<body>
        <a href="/">Home</a>
		<a href="/about/">About</a>
		<a href="/blog/">Blog</a>

		<h1>{pageTitle}</h1>
        <p>Boat goes binted 👽</p>

		<p>Here are some {identity.name} facts:</p>
		<ul>
			<li>Country: {identity.country}</li>
			<li>Occupation: {identity.occupation}</li>
			<li>Hobbies: {identity.hobbies.join(', ')}</li>
		</ul>
		<p>Here are some {identity.name} skills:</p>
		<ul>
			{skills.map((skill) => (
				<li class="skill">{skill}</li>
			))}
		</ul>

		{happy && <p>I am happy to be learning Astro!</p>}

		{finished && <p>I finished this tutorial!</p>}

		{goal === 3 ? <p>My goal is to finish in 3 days.</p> : <p>My goal is not 3 days.</p>}
	</body>
</html>
